body {
    font-family: 'Noto Serif';
    text-align: center;
    min-height: 100%;
    margin: 10%;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

p {
    font-size: 1.5em;
    text-align: center;
}

a {
    text-decoration: underline;
}

.big {
    font-size: 2em;
}

.small {
    font-size: 0.5em;
}

.footer {
    font-size: 0.5em;
    text-align: center;
    min-width: 80%;
    bottom: 10%;
}

a:hover {
    color: #fc0053;
}

@media (prefers-color-scheme: light) {
    
    body {
        background: #FFF;
        color: #3d3d3d;
    }
    
    h1 {
        color: #4d1434;
    }

    a {
        color: #000000;
    }

}

@media (prefers-color-scheme: dark) {
    body {
        background: #3d3d3d;
        color: #FFF;
    }

    h1 {
        color: #fc0053;
    }

    a {
        color: white;
    }
}